name: JSON lint
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**/*.json"
      - ".github/workflows/json_lint.yml"
  push:
    branches:
      - main
    paths:      
      - "**/*.json"
      - ".github/workflows/json_lint.yml"

jobs:
  json-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Lint JSON
        run: find . -name "*.json" -exec cat {} \; | jq .
