name: Validate Renovate config

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validate-config:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - default.json
          - no-grouping.json

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Validate ${{ matrix.config }} config
        run: |
          docker run \
            --entrypoint=renovate-config-validator \
            --volume "$(pwd):/tmp" \
            renovate/renovate:slim /tmp/${{ matrix.config }}
